.gallery {
	margin-bottom: 1.5em;
	overflow: auto;
}

.gallery-item {
	@include column( 2 );

	@media only screen and (min-width: $bp__menu-button+1) {
		@include column( 3 );
	}

	@media only screen and (min-width: $bp__tablet) {
		@for $i from 2 through 9 {
			.gallery-columns-#{$i} & {
				@include column( $i );
			}
		}
	}

	margin-top 		: 0;
	margin-bottom	: 1em;

	&:hover {

		img {
			box-shadow: 2px 2px 5px $dark;
		}
	}

	img {
		border 			: 5px solid $light;
		border-radius 	: 5px;
		transition 		: 0.5s;
	}
}

.gallery-caption {
	display		: block;
	text-align	: center;
	margin		: 0;
}

.gallery-icon {
	a {
		display		: block;
		text-align	: center;
	}

	img {
		height			: auto;
		margin-bottom	: 0;
	}
}