$font__main 				: Geneva, Tahoma, sans-serif;
$font__code 				: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre 					: "Courier 10 Pitch", Courier, monospace;
$font__menu 				: 'aller_displayregular';

$font__line-height-body 	: 1.5;
$font__line-height-pre 		: 1.6;

$font__size-social 			: 36px;


@font-face {
	font-family: 'aller_displayregular';
	src: url('fonts/AllerDisplay-webfont.eot');
	src: url('fonts/AllerDisplay-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/AllerDisplay-webfont.woff2') format('woff2'),
		 url('fonts/AllerDisplay-webfont.woff') format('woff'),
		 url('fonts/AllerDisplay-webfont.ttf') format('truetype'),
		 url('fonts/AllerDisplay-webfont.svg#aller_displayregular') format('svg');
	font-weight: normal;
	font-style: normal;
}